{% extends 'base.html' %}

{% block content %}
<!-- Search Form -->
    <form action="{{ url_for('search_warranties') }}" method="GET" class="form-inline">
        <input type="text" name="search" class="form-control" placeholder="Search by Product Name" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <!-- Display Search Results -->
    {% if warranties %}
        <h3>Search Results for: "{{ search_query }}"</h3>
        <ul>
            {% for warranty in warranties %}
                <li>{{ warranty.product_name }} - {{ warranty.warranty_number }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No warranties found matching "{{ search_query }}".</p>
    {% endif %}

    {% endblock %}